parameters:
    level: 8

    paths:
        - src
        - tests

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            message: '#Method .* return type has no value type specified in iterable type array.#'
            path: tests/*
        -
            message: '#Method .* has parameter .* with no value type specified in iterable type array.#'
            path: tests/*
